@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-color: rgb(86, 71, 218);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: rgb(216, 222, 135);
    font-size: 2rem;
}

main {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    overflow: hidden;
    margin: 0;
}


.btn {
    background-color: rgb(183, 137, 229);
    border-radius: 5px;
    border: 2px solid #3f3f3f;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}

footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    height: 50px;
    padding: 10px;
    color: rgb(216, 222, 135);
    font-size: 1.3rem;
    border: 2px solid rgb(216, 222, 135);
}