@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

/* CUSTOM PROPERTIES */
:root {
    --border-color: #144fc6;
    --fill-color: #6ab3f8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monserrat', sans-serif;
}

/* GENERALES */
body {
    background-color: #299dfd9e;
    
}

header {
    background-color: #297bc9;
    color: #fff;
    text-align: center;
    font-size: 22px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
}

main {
    background-color: #299dfd9e;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 20px;
}

footer {
    background-color: #144fc6;
    color: #ccc;
    text-align: center;
}

h1 {
    margin: 10px 0 0;
}

h3 {
    font-weight: 400;
    margin: 10px 0;
}

.vaso {
    background-color: #fff;
    border: 4px solid var(--border-color);
    color: var(--border-color);
    border-radius: 0 0 40px 40px;
    height: 330px;
    width: 150px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.vaso-xs {
    height: 95px;
    width: 50px;
    border-radius: 0 0 15px 15px;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    transition: 0.3s ease;
}

.vaso.vaso-xs.lleno {
    background-color: var(--fill-color);
    color: #fff;
}

.vasos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 280px;
}

.remanente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.3s ease;
}

.remanente span {
    font-size: 20px;
    font-weight: bold;
}

.remanente small {
    font-size: 12px;
}

.porcentaje {
    background-color: var(--fill-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    height: 0;
    transition: 0.3s ease;
}

.text {
    text-align: center;
    margin: 0 0 15px;
}

